@import "../../../mixins.scss";

.cartPage {
  width: 100%;
  min-height: 700px;
  background-color: white;
  position: relative;

  .AfterLogin {
    .cartsection {
      padding-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .shopingHeader {
        font-size: 2rem;
      }
      .cartLength {
        margin: 1rem 0;
        text-transform: capitalize;
      }

      .cartItems {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        width: 100%;

        @include md{
          width: 80%;
        }

        .cartItem {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 2rem 0;
          @include sdm{
            justify-content: space-around;
          }

          .imgCont {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
              border-radius: 2rem;
              width: 50px;
              @include sdm{
                width: 100px;
              }
            }
            p {
              font-size: 12px;
              @include sdm{
                font-size: 15px;
              }
            }
          }

          p {
            font-size: 12px;
            @include sdm{
              font-size: 20px;
            }
          }

          .icons {
            width: 50px;
            display: flex;
            flex-direction: row;
           cursor: pointer;
            align-items: center;
            justify-content: space-around;
            @include sdm{
              width: 100px;
            }
            span {
              color: var(--black-lighter);
              font-size: 1rem;
              padding: .5rem;
              @include sdm{
                font-size: 2rem;
              }
            }
          }
        }
      }

      .btnContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include sdm{
          width: 80%;
        }
        
        button {
          background-color: var(--pink);
          padding: 1rem;
          color: #fff;
          border: none;
          border-radius: 2rem;
        }
      }
      .amountBox {
        text-align: center;
        margin: 1.5rem;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        p {
          font-size: 1.5rem;
        }
        button {
          margin-top: 1rem;
          background-color: var(--pink);
          padding: 1rem;
          color: #fff;
          border: none;
          border-radius: 2rem;
        }
      }
    }

    .additemToCart {
      display: flex;
       align-items: center;
      flex-direction: column;
      justify-content: center;
    height: 600px;
      p {
        font-size: 2rem;
      }
      button {
        margin: 1rem;
        background-color: var(--pink);
        border-radius: 2rem;
        padding: 1rem;
        border: none;
        color: #fff;
        text-transform: capitalize;
      }
    }
  }

  .LoginFirst {
    display: flex;
    height: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include md {
      height: 700px;
    }
    .img {
      width: 300px;
    }
    p {
      font-size: 2rem;
    }
    button {
      margin: 1rem;
      background-color: var(--pink);
      border-radius: 2rem;
      padding: 1rem;
      border: none;
      color: #fff;
      text-transform: capitalize;
    }
  }
}
