@import "../../../mixins.scss";
.orderModel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  .opacityLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, 0.25);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    opacity: 0;
    transition: opacity 600ms;
  }
  .orderetails {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: white;
    transform: scale(0.2);
    transition: transform 250ms;
    @include sm {
      width: 70%;
    }
    @include md {
      width: 50%;
    }

    .closeBtn {
      position: absolute;
      // top: -20px;
      right: 0;
      padding: 0.5rem;
      background-color: var(--pink);
      color: #fff;
      cursor: pointer;
    }
    .orderSection {
      display: flex;
      flex-direction: row;
      .productDetail {
        width: 30%;

        .lazy-load-image-background {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          //  height: 300px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        p {
          font-size: .7rem;
          margin: .5rem 0;
          @include sm {
            font-size: 1rem;
          }
        }
      }
      .paymentDetail {
        margin: 1rem;
        .orderId , .payId {
          margin-top: 1rem;
          font-size: 15px;
          @include sm {
            font-size: 20px;
          }
        }
        .status {
          font-style: italic;
          font-size: 1rem;
          color: rgb(194, 33, 33);
          margin-top: 2rem;
          @include sm {
            font-size: 1.5rem;
          }
        }
      

        .address {
          font-size: 1rem;
          margin-top: 2rem;
          @include sm {
            font-size: 1.2rem;
          }
        }
      
        .amount {
          font-style: italic;
          font-size: 1rem;
          margin-top: 1rem;
          @include sm {
            font-size: 1.5rem;
          }
        }
       

        button {
          background-color: var(--pink);
          border-radius: 1rem;
          color: #fff;
          border: none;
          padding: 1rem;
          margin-top: 2rem;
        }
      }
    }
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    .opacityLayer {
      opacity: 1;
    }
    .orderetails {
      transform: scale(1);
    }
  }
}
